// 여백 div 
.margin-div-1rem {
  margin: 1rem 0;
}

.margin-div-3rem {
  margin: 3rem 0;
}

.margin-div-6rem {
  margin: 6rem 0;
}

// display 
.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}