// 여백 div 
.margin-div-minimum {
  margin: 0.5rem 0;
}
.margin-div-1rem {
  margin: 1rem 0;
}

.margin-div-3rem {
  margin: 3rem 0;
}

.margin-div-6rem {
  margin: 6rem 0;
}

// display 
.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-around {
  display: flex;
  justify-content: space-around;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .divide-line {
    width: 100%;
    border: 1px solid black;
    margin: 1rem auto;
    }