// common
.intro-card {
  background: linear-gradient(to left,
      rgba(20, 20, 20, 0) 20%,
      rgba(20, 20, 20, 0.25) 25%,
      rgba(20, 20, 20, 0.5) 50%,
      rgba(20, 20, 20, 0.75) 75%,
      rgba(20, 20, 20, 1) 100%),
    url('../../static/images/home_bg.jpg');
  background-size: cover;
  background-position: center 20%;
}

.title-block {
  flex: 0.2;
}

.contents-block-wrapper {
  flex: 0.8;
}

// Profile
.section_basic-info {
  position: relative;
  padding: 0.1rem 2rem;

  .div_basic-info-wrapper {
    display: flex;
    justify-content: space-between;

    .div_profile-block {
      .profile-image {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50px 50px 50px 50px;
        position: absolute;
        top: -70px
      }

      .span_profile-desc-box {
        padding-left: 10rem;
      }
    }

    .div_sns-block {
      flex: 0.15;

      .div_sns-title {
        flex: 0.4;
        text-align: right;
        float: right;
      }

      .div_sns-icon-box {
        flex: 0.6;
        justify-content: space-around;

        .sns-icon {
          display: flex;
          height: 1.3rem;
          cursor: pointer;
        }

        .instagram {
          color: #fff;
          font-size: 220px;
          line-height: 250px;
          vertical-align: middle;
          background: #d6249f;
          background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
        }
      }
    }
  }
}

// Skills 

.div_skills-title-block {
  position: relative;

  .setting-btn {
    position: absolute;
    right: 0;
    width: 1.2rem;
    height: auto;
    cursor: pointer;
  }
}
.div_skills-item-block {
  display: flex;
  align-items: center;
  margin: 0.4rem 0;

  .div_skills-icon {
    margin-right: 0.5rem;
    text-align: center;
    width: 2.7rem
  }

  .div_skills-level {
    width: 100%;

    .progress {
      height: 1.1rem;
    }
  }
.div_skills-control-block {
  display: none;
  margin-left: 1rem;

  .btn-primary {
    height: 100%;
    font-size: 1rem;
    padding: 0rem 0.3rem;

    &:first-child {
      margin-right: 0.2rem;
    }
  }

  &.setting-active {
    display: flex;
  }
}
  &:last-child {
    margin-bottom: 0;
  }
}

// Statistics

.div_statistics-wrapper {


  .contents-block-wrapper {
    display: flex;
    align-items: center;
    width: 100%;

    .contents-block {
      display: flex;
      justify-content: space-between;
      // padding: 1rem;
      width: 100%;

      // <Card> Component

      .card-body {
        display: inherit;
        flex-flow: column nowrap;
        justify-content: center;

        .card-text {
          font-weight: bolder;
          font-size: 1.4rem;
        }

      }
    }
  }
}

// Latest Post

.div_latest--post-wrapper {
  .card-title {
    text-overflow: ellipsis;
    width: 7rem;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}