.intro-card {
  background: linear-gradient(to left, rgba(20, 20, 20, 0) 20%, rgba(20, 20, 20, 0.25) 25%, rgba(20, 20, 20, 0.5) 50%, rgba(20, 20, 20, 0.75) 75%, #141414 100%), url("../../static/images/home_bg.jpg");
  background-size: cover;
  background-position: center 20%;
}

.title-block {
  flex: 0.2;
}

.contents-block-wrapper {
  flex: 0.8;
}

a {
  text-decoration: none;
}

.section_basic-info {
  position: relative;
  padding: 0.1rem 2rem;
}

.section_basic-info .div_basic-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.section_basic-info .div_basic-info-wrapper .div_profile-block .profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50px 50px 50px 50px;
  position: absolute;
  top: -100px;
}

.section_basic-info .div_basic-info-wrapper .div_profile-block .span_profile-desc-box {
  padding-left: 10rem;
  font-size: 2em;
  font-family: BlackHanSans-Regular, Verdana, Geneva, Tahoma, sans-serif;
}

.section_basic-info .div_basic-info-wrapper .div_sns-block {
  flex: 0.3;
  justify-content: flex-end;
}

.section_basic-info .div_basic-info-wrapper .div_sns-block .div_sns-title {
  flex: 0.4;
  text-align: right;
  float: right;
}

.section_basic-info .div_basic-info-wrapper .div_sns-block .div_sns-icon-box {
  flex: 0.5;
  justify-content: space-around;
}

.section_basic-info .div_basic-info-wrapper .div_sns-block .div_sns-icon-box .sns-icon {
  display: flex;
  height: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .section_basic-info .div_basic-info-wrapper .div_sns-block {
    flex: 1;
  }
  .section_basic-info .div_basic-info-wrapper .div_sns-block .div_sns-icon-box {
    gap: 20%;
  }
}

@media (max-width: 768px) {
  .section_basic-info .div_basic-info-wrapper .div_sns-block {
    flex: 1;
  }
  .section_basic-info .div_basic-info-wrapper .div_sns-block .div_sns-icon-box {
    flex: 1;
  }
}

a {
  text-decoration: none;
}

.div_skills-title-block {
  position: relative;
}

.div_skills-title-block .setting-btn {
  position: absolute;
  right: 0;
  width: 1.2rem;
  height: auto;
  cursor: pointer;
}

.div_skills-item-block {
  display: flex;
  align-items: center;
  margin: 0.4rem 0;
}

.div_skills-item-block .div_skills-icon {
  margin-right: 0.5rem;
  text-align: center;
  width: 2.7rem;
}

.div_skills-item-block .div_skills-level {
  width: 100%;
}

.div_skills-item-block .div_skills-level .progress {
  height: 1.1rem;
}

.div_skills-item-block .div_skills-control-block {
  display: none;
  margin-left: 1rem;
}

.div_skills-item-block .div_skills-control-block .btn-primary {
  height: 100%;
  font-size: 1rem;
  padding: 0rem 0.3rem;
}

.div_skills-item-block .div_skills-control-block .btn-primary:first-child {
  margin-right: 0.2rem;
}

.div_skills-item-block .div_skills-control-block.setting-active {
  display: flex;
}

.div_skills-item-block:last-child {
  margin-bottom: 0;
}

.div_statistics-wrapper .contents-block-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.div_statistics-wrapper .contents-block-wrapper .contents-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.div_statistics-wrapper .contents-block-wrapper .contents-block .card-body {
  display: inherit;
  flex-flow: column nowrap;
  justify-content: center;
}

.div_statistics-wrapper .contents-block-wrapper .contents-block .card-body .card-title {
  word-break: keep-all;
}

.div_statistics-wrapper .contents-block-wrapper .contents-block .card-body .card-text {
  font-weight: bolder;
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .div_statistics-wrapper .contents-block-wrapper .contents-block .card-body {
    padding: 1rem 0.5rem;
  }
  .div_statistics-wrapper .contents-block-wrapper .contents-block .card-body .card-title {
    font-size: 1.1rem;
  }
  .div_statistics-wrapper .contents-block-wrapper .contents-block .card-body .card-text {
    font-size: 1rem;
  }
}

.div_latest--post-wrapper .card-title {
  text-overflow: ellipsis;
  width: 7rem;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
